.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.servicehead {
  font-size: 30px;
  font-weight: bold;
  color: rgb(116, 42, 42);
  text-align: center;
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 0.7rem;
  box-shadow: 0 0 15px rgba(77, 46, 41, 0.866);
}
.servicehead:hover {
  background-color: rgba(77, 46, 41, 0.866);
  color: whitesmoke;
}
.service .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.service .heading h1 {
  font-size: 30px;
  padding: 1rem;
  font-weight: bold;
}
.service .heading h2 {
  color: rgb(90, 15, 15);
  font-size: 20px;
  font-weight: bold;
}
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}
.card {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(77, 46, 41, 0.866);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card:hover {
  background-color: rgba(77, 46, 41, 0.866);
  color: whitesmoke;
  scale: 1.1;
}
.card img {
  height: 50%;
  width: 50%;
  object-fit: cover;
}
.card h1 {
  font-size: 20px;
  font-weight: bold;
}
.last{
  background-color: rgb(36, 230, 156);
  color: white;
  /* margin-left: 11.2rem; */
}
.last:hover{
  background-color: white;
  color: red;

}


/* media query for responsive design   here */